// Header
.hero-header {
  //position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  @media screen and (max-width: 1440px) {
    //display: none;
  }
  @media screen and (max-width: 1080px) {
    background: white;
    position: relative;
    height: 65px; //overflow: hidden;
  }
  &__logo {
    height: 342px;
    width: 415px;
    background-color: $primary-green;
    border-radius: 0 0 0 188px;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin: -226px 0 0 -55px;
    box-shadow: -15px 20px 0 rgba(229, 235, 227, 0.26);
    overflow: hidden;
    @media screen and (max-width: 1080px) {
      width: 315px;
      margin: 0 auto;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      width: auto;
      border-radius: 0 0 30px 30px;
      height: 65px;
      box-shadow: none;
    }
    @media screen and (max-width: 780px) {
      position: absolute;
      right: 0;
      border-radius: 0 0 0px 10px;
    }
    &--img {
      width: 100%;
      height: 100%;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg); //margin: 225px 0 0 100px;
      margin: 290px 0 0 -30px;
      @media screen and (max-width: 1080px) {
        margin: 10px 0 0 0;
        padding: 0 75px;
        width: auto;
        height: auto;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      @media screen and (max-width: 780px) {
        padding: 0 50px;
      }
    }
  }
  &__menu-mobile {
    position: absolute;
    left: 30px;
    top: 35%;
    @media screen and (min-width: 1081px) {
      display: none;
    }
    button {
      outline: none;
      border: none;
      background: none;
    }
    &--bars {
      width: 25px;
      border-radius: 20px;
      background: $dark-blue;
      height: 3px;
    }
    div:nth-child(2) {
      margin: 5px 0;
    }
  }
  &__nav {
    margin: 0 auto;
    @media screen and (max-width: 1080px) {
      margin-top: 65px;
      display: none;
      background: white;
      position: absolute;
      width: 100%;
      height: 100vh;
      text-align: center;
    }
    &--bar {
      li {
        display: inline-flex;
        padding: 45px 0px;
        @media screen and (max-width: 1230px) {
          padding:25px 0px;
        }
        @media screen and (max-width: 1080px) {
          display: table;
          margin: 0 auto;
          padding: 7px 0;
        }
        a {
          text-decoration: none;
          color: black;
          display: block;
          padding: 10px 20px;
          font-size: 16px;
          @media screen and (max-width: 1590px) {
            padding: 10px 15px;
          }
          @media screen and (max-width: 1300px) {
            padding: 10px;
          }
          @media screen and (max-width: 1230px) {
            padding: 5px;
          }
          img {
            float: right;
            margin: 8px 0 0 20px;

            @media screen and (max-width: 1300px) {
              margin: 8px 0 0 10px;
            }
          }
        }
      }
    }
  }
  &__acnt {
    padding: 0 90px;
    @media screen and (max-width: 1590px) {
      padding:0 30px 0 0;
    }
    @media screen and (max-width: 1230px) {
      padding: 0 10px 0 0;
    }
    @media screen and (max-width: 1080px) {
      padding: 0 30px 0 0;
      position: absolute;
      right: 0;
    }
    @media screen and (max-width: 780px) {
      display: none;
    }
    &--opt {
      li {
        display: inline-block;
        margin-top: 45px;
        @media screen and (max-width: 1230px) {
          margin-top: 20px;
        }
        @media screen and (max-width: 1080px) {
          margin-top: 15px;
        }
        a {
          display: block;
          padding: 10px 45px;
          border-radius: 100px;
          text-decoration: none;
          @media screen and (max-width: 1366px) {
            padding: 10px 30px;
            font-size: 16px;
          }
          @media screen and (max-width: 1230px) {
            padding: 10px 20px;
            font-size: 15px;
          }
        }
        &:nth-child(1) {
          margin-right: 25px;
          @media screen and (max-width: 1230px) {
            margin-right: 10px;
          }
          a {
            color: $dark-blue;
            background: white;
          }
        }
        &:nth-child(2) {
          a {
            color: white;
            background: $primary-blue;
          }
        }
      }
    }
  }
}


// Hero Section
.hero-section {
  background-image: url(../media/images/wave-bg.png);
  background-position: -100px 250px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  &__container-main {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: 910px) {
      display: inherit;
    }
    &--countdown {
      width: 40%;
      padding: 100px 0 250px 140px;
      margin-top: 100px;
      @media screen and (max-height: 900px) {
        padding: 100px 0 180px 140px;
      }
      @media screen and (max-width: 1370px) {
        padding: 0 0 180px 90px;
        margin-top: 50px;
      }
      @media screen and (max-width: 1080px) {
        padding: 0 0 180px 65px;
      }
      @media screen and (max-width: 1080px) {
        width: 100%;
        text-align: center;
        padding: 0 0 50px 0;
      }
    }
    &--video {
      width: 50%;
      top: 0;
      position: absolute;
      right: 0;
      z-index: -2;
      @media screen and (max-width: 1080px) {
        width: 100%;
        position: relative;
        height: 450px;
        background-image: url(../media/images/video-poster-full.png);
        background-size: cover;
        background-position: center;
        @media screen and (max-width: 365px) {
          height: 350px;
        }
      }
      .video-poster {
        width: 100%;
        position: relative;
        @media screen and (max-width: 910px) {
          text-align: center;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          @media screen and (max-width: 910px) {
            display: none;
          }
        }
        &__btn {
          position: absolute;
          top: 43%;
          right: 45%;
          color: white;
          @media screen and (max-width: 910px) {
            top:150px;
            margin: 0 auto;
            right: 0;
            left: 0;
          }
          @media screen and (max-width: 365px) {
            top: 100px;
          }
          &--play {
            margin: 0 auto;
            height: 88px;
            width: 88px;
            background: white;
            border-radius: 100px;
            text-align: center;
            margin-bottom: 40px;
            img {
              width: 23.39px;
              @media screen and (max-width: 910px) {
                display: block;
                margin: 0 auto;
              }
            }
          }
          span {
            font-size: 26px;
          }
        }
      }
    }
    .video-btn {
      position: absolute;
      bottom: 40%;
      left: 25%;
      margin: 20px;
      &__icon {
        border-radius: 100px;
        background: white;
        height: 88px;
        width: 88px;
        text-align: center;
        img {
          margin-top: 35%;
        }
      }
    }
  }
  .countdown {
    p:nth-child(1) {
      color: $secondary-blue;
      font-size: 27px;
    }
    h2 {
      font-size: 68px;
      color: $dark-blue;
      padding: 20px 0;
      @media screen and (max-width: 1080px) {
        padding: 10px 0;
        font-size: 48px;
      }
    }
    p:nth-child(3) {
      color: $dark-blue;
      font-size: 50.44px;
      @media screen and (max-width: 1080px) {
        font-size: 38px;
      }
    }
    p:nth-child(4) {
      padding: 20px 0;
      font-size: 61.99px;
      color: $secondary-blue;
      word-spacing: 20px;
      @media screen and (max-width: 1280px) {
        font-size:49px;
      }
      @media screen and (max-width: 1080px) {
        padding: 10px 0;
        font-size: 38px;
      }
      @media screen and (max-width: 365px) {
        font-size: 30px;
      }
      span {
        color: black;
        font-size: 22.12px;
        @media screen and (max-width: 1280px) {
          font-size:18px;
        }
        @media screen and (max-width: 1080px) {
          font-size: 16px;
        }
        @media screen and (max-width: 365px) {
          font-size: 14px;
        }
      }
    }
    &__opt {
      ul {
        li {
          display: inline-block;
          @media screen and (max-width: 365px) {
            display: block;
            margin-top: 15px;
          }
          a {
            display: block;
            font-size: 20.81px;
            padding: 15px 65px;
            border-radius: 100px;
            text-decoration: none;
            color: white;
            @media screen and (max-width: 1370px) {
              padding: 15px 45px;
            }
            @media screen and (max-width: 1170px) {
              padding: 10px 35px;
            }
            @media screen and (max-width: 1080px) {
              padding: 10px 30px;
              font-size: 18px;
            }
            @media screen and (max-width: 365px) {
              width: 75%;
              margin: 0 auto;
            }
          }
          &:nth-child(1) {
            margin-right: 25px;
            @media screen and (max-width: 1080px) {
              margin-right: 15px;
            }
            @media screen and (max-width: 365px) {
              margin-right: 0;
            }
            a {
              background: $primary-green;
              box-shadow: 0 6px 0 #E3E8E0;
            }
          }
          &:nth-child(2) {
            a {
              background: $secondary-blue;
              @media screen and (max-width: 365px) {
                margin-top:10px;
              }
            }
          }
        }
      }
    }
  }
  .scroll-down-btn {
    position: absolute;
    bottom: 45px;
    display: flex;
    @media screen and (max-width: 1080px) {
      display: none;
    }
    &__icon {
      height: 68px;
      width: 68px;
      box-shadow: 0 3px 33px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      text-align: center;
      img {
        margin-top: 30%;
      }
    }
    &__txt {
      padding: 25px 40px;
      font-size: 20.81px;
      color: $dark-blue;
    }
  }
}

// ROI Section
.roi {
  padding: 150px 0 250px;
  @media screen and (max-width: 1260px) {
    padding: 100px 0 150px;
  }
  @media screen and (max-width: 1366px) {
    padding: 120px 0 130px;
  }
  @media screen and (max-width: 1080px) {
    padding: 100px 0 20px;
  }
  @media screen and (max-width: 450px) {
    padding: 60px 0 20px;
  }
  .roi-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    @media screen and (max-width: 1080px) {
      display: inline;
    }
  }
  &__container {
    width: 50%;
    @media screen and (max-width: 1080px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 750px) {
      width: 80%;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
    }
    @media screen and (max-width: 375px) {
      width: 100%;
    }
  }
  &__info {
    padding: 90px 0 0 0;
    @media screen and (max-width: 1080px) {
      padding-top: 45px;
    }
    .align {
      max-width: 450px;
      margin: 0 auto;
      @media screen and (max-width: 1260px) {
        max-width: 330px;
      }
      @media screen and (max-width: 375px) {
        max-width: 286px;
      }
    }
    h2 {
      font-size: 52px;
      font-weight: normal;
      color: $dark-blue;
      @media screen and (max-width: 1260px) {
        font-size: 42px;
      }
      @media screen and (max-width: 1080px) {
        text-align: center;
      }
      @media screen and (max-width: 375px) {
        font-size: 32px;
      }
      span {
        font-weight: bold;
      }
    }
    p {
      max-width: 443px;
      font-size: 30px;
      color: #C4BBCA;
      padding: 40px 0 40px 0;
      @media screen and (max-width: 1260px) {
        font-size: 22px;
        padding: 20px 0;
      }
      @media screen and (max-width: 1080px) {
        text-align: justify;
      }
      @media screen and (max-width: 375px) {
        font-size: 19px;
        text-align: left;
      }
    }
    &--benefits {
      li {
        margin-bottom: 12px;
        margin-left: 25px;
        color: $dark-blue;
        font-size: 30px;
        list-style: disc;
        @media screen and (max-width: 1260px) {
          font-size: 22px;
        }
        @media screen and (max-width: 375px) {
          font-size: 19px;
        }
      }
    }
  }
  .calc {
    width: 100%;
    position: relative;
    background: white;
    margin: 0 auto;
    height: 100%;
    border-radius: 21px;
    box-shadow: 0 3px 74px rgba(131, 99, 99, 0.2); //padding: 40px 50px;
    &__dots {
      display: inline-flex;
      padding: 40px 40px 0;
      @media screen and (max-width: 1080px) {
        padding:20px 20px 0;
      }
      &--circle {
        height: 20px;
        width: 20px;
        border-radius: 30px;
      }
      .c1 {
        background: #F85E5E;
      }
      .c2 {
        background: #FFB639;
        margin: 0 17px;
      }
      .c3 {
        background: #6EC550;
      }
    }
    &__form {
      padding: 60px 40px;
      @media screen and (max-width: 1260px) {
        padding: 20px 20px 40px 20px
      }
      input {
        outline: none;
        background-color: #FAFAFA;
        border-radius: 11px;
        border: none;
      }
      input[type=text] {
        padding: 12px;
        font-size: 20px;
      }
      label {
        color: $dark-blue;
        font-size: 18px;
        margin-bottom: 25px;
        @media screen and (max-width: 1260px) {
          margin-bottom: 15px;
        }
      }
      .coin-token,
      .amount,
      .total {
        display: grid;
      }
      .coin-token {
        margin-bottom: 50px;
        @media screen and (max-width: 1260px) {
          margin-bottom: 10px;
        }
      }
      .amount,
      .total {
        width: 50%;
        @media screen and (max-width: 1260px) {
          width: 100%;
        }
      }
      .amount {
        margin-right: 27.5px;
        @media screen and (max-width: 1260px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .total {
        margin-left: 27.5px;
        @media screen and (max-width: 1260px) {
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
      &--display {
        display: flex;
        @media screen and (max-width: 1260px) {
          display: block;
        }
      }
      &--submit {
        width: 100%;
        text-align: center;
        margin-top: 70px;
        @media screen and (max-width: 1260px) {
          margin-top: 30px;
        }
        input {
          width: 70%;
          padding: 20px;
          border-radius: 41px;
          background-color: $primary-green;
          color: white;
          font-size: 34px;
          @media screen and (max-width: 1260px) {
            font-size: 24px;
            padding: 12px 20px;
          }
          @media screen and (max-width: 450px) {
            font-size: 20px;
            width: 80%;
          }
          @media screen and (max-width: 375px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.calc-bg {
  height: 408px;
  width: 408px;
  background: #0F6FFF;
  border-radius: 65px;
  position: absolute;
  z-index: -1;
  transform: rotate(60deg);
  right: 0;
  bottom: 60px; animation: 30s slipe infinite;
  @media screen and (max-width: 800px) {
      display: none
    }
}

@keyframes slipe {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

// Live Map Section
.live-map {
  background: #0E6EFD;
  @media screen and (max-width: 1600px) {
      display: none;
    }
  .map-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    padding: 100px 0 75px;
    @media screen and (max-width: 1080px) {
      padding:55px 0;
    }
  }
  &__title {
    color: white;
    text-align: center;
    h2 {
      font-size: 52px;
      font-weight: normal;
      margin-bottom: 25px;
      @media screen and (max-width: 1080px) {
        font-size: 35px;
        margin-bottom: 15px;
      }
      span {
        color: #180724;
        font-weight: bold;
      }
    }
    p {
      font-size: 30px;
      @media screen and (max-width: 1080px) {
        font-size: 20px;
      }
    }
  }
  &__mapping {
    width: 1594px;
    height: 788px;
    margin: 100px 0 50px;
    position: relative;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: 1080px) {
      margin: 25px 0 0;
    }
    &--map {
      width: 100%;
      height: 100%;
    }
    .location {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      img {
        position: absolute;
        background-image: url(../media/images/round-mid-1.png);
        background-position: center;
        background-repeat: no-repeat;
      }
      &__ultra-large {
        width: 114px;
        background-size: 41px 41px;
      }
      .l1 {
        left: 42%;
        top: 420px;
      }
      .l2 {
        right: 22%;
        top: 440px;
      }
      &__large {
        width: 90.04px;
        background-size: 34px 34px;
      }
      .l3 {
        left: 50%;
        top: 610px;
      }
      .l4 {
        right: 18%;
        top: 620px;
      }
      &__medium {
        width: 88px;
        background-size: 33px 33px;
      }
      .l5 {
        right: 33%;
        top: 310px;
      }
      &__normal {
        width: 80px;
        background-size: 31px 31px;
      }
      .l6 {
        top: 371px;
      }
      .l7 {
        left: 22.5%;
        top: 240px;
      }
      &__small {
        width: 68px;
        background-size: 28px 28px;
      }
      .l8 {
        left: 25.5%;
        top: 540px;
      }
      .l9 {
        left: 27.5%;
        top: 670px;
      }
      .l10 {
        left: 33%;
        top: 580px;
      }
      .l11 {
        right: 44%;
        top: 320px;
      }
      .l12 {
        right: 49%;
        top: 240px;
      }
      .l13 {
        right: 41.5%;
        top: 240px;
      }
      .l14 {
        right: 43%;
        top: 170px;
      }
      .l15 {
        right: 6%;
        top: 200px;
      }
      .l16 {
        right: 15.5%;
        top: 320px;
      }
      .l17 {
        right: 10%;
        top: 670px;
      }
      .l18 {
        right: 2%;
        top: 680px;
      }
      &__ultrasmall {
        width: 43.05px;
        background-size: 21px 21px;
      }
      .l19 {
        left: 10.5%;
        top: 210px;
      }
      .l20 {
        left: 11.5%;
        top: 280px;
      }
      .l21 {
        left: 13.5%;
        top: 350px;
      }
      .l22 {
        left: 22%;
        top: 365px;
      }
      .l23 {
        left: 26%;
        top: 410px;
      }
      .l24 {
        left: 26%;
        top: 640px;
      }
      .l25 {
        left: 30%;
        top: 600px;
      }
      .l26 {
        right: 12%;
        top: 273px;
      }
      .l27 {
        left: 44.3%;
        top: 200px;
      }
      .l28 {
        left: 49%;
        top: 150px;
      }
      .l29 {
        left: 49%;
        top: 210px;
      }
      .l30 {
        right: 37%;
        top: 170px;
      }
      .l31 {
        right: 41%;
        top: 210px;
      }
      .l32 {
        right: 31.5%;
        top: 410px;
      }
      .l33 {
        right: 30.8%;
        top: 440px;
      }
      .l34 {
        right: 39.7%;
        top: 310px;
      }
    }
  }
  &__count {
    display: flex;
    padding: 0 100px;
    @media screen and (max-width: 1080px) {
      padding:0 50px;
    }
    &--c1,
    &--c2,
    &--c3 {
      padding: 50px 0;
      width: 33%;
      @media screen and (max-width: 1080px) {
        padding:0;
      }
      h3 {
        color: white;
        font-size: 55px;
        @media screen and (max-width: 1080px) {
          font-size: 25px;
          margin-bottom: 10px;
        }
      }
      p {
        color: #180724;
        font-size: 20px;
        margin-top: 20px;
        @media screen and (max-width: 1080px) {
          font-size: 18px;
          margin-top: 0;
        }
      }
    }
    &--c2 {
      text-align: center;
    }
    &--c3 {
      text-align: right;
    }
  }
}

// Mission Section
.mission {
  padding: 100px 0;
  background-image: linear-gradient(to bottom, white 55%, rgba(239, 233, 233, 0.2));
  @media screen and (max-width: 750px) {
    padding: 50px 0;
  }
  &__wrapper {
    position: relative;
    display: flex;
    max-width: 1590px;
    margin: 0 auto;
    @media screen and (max-width: 1440px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 1080px) {
      display: inline;
    }
    @media screen and (max-width: 750px) {
      padding: 0;
    }
  }
  #particles-js {
    width: 100%;
    height: 100%; //background:black;
    overflow: hidden;
    position: absolute;
    top: 0;
    background-image: url(../media/icons/cloud-icon.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 220px 200px; animation: cloud-slider 60s infinite;
  }
  @keyframes cloud-slider {
    0% {
      background-position: 220px 200px;
    }
    25% {
      background-position: 260px 260px;
    }
    50% {
      background-position: 120px 300px;
    }
    75% {
      background-position: 280px 100px;
    }
    100% {
      background-position: 220px 200px;
    }
  }
  &__img,
  &__info {
    width: 50%;
    @media screen and (max-width: 1080px) {
      width: 100%;
    }
  }
  &__info {
    background-image: url(../media/icons/shape-unaligned.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 190px 0 0 0;
    @media screen and (max-width: 1440px) {
      padding:90px 0 0 0;
    }
    @media screen and (max-width: 1300px) {
      padding-top: 45px;
      ;
    }
    @media screen and (max-width: 1170px) {
      padding-top: 10px;
    }
    .align {
      max-width: 670px;
      margin: 0 auto;
    }
    h2 {
      font-size: 52px;
      font-weight: normal;
      color: $dark-blue;
      span {
        font-weight: bold;
      }
      @media screen and (max-width: 1080px) {
        text-align: center;
        padding-top: 20px;
        font-size: 42px;
      }
      @media screen and (max-width: 750px) {
        font-size: 32px;
      }
    }
    p {
      font-size: 30px;
      color: #C4BBCA;
      padding: 40px 0 40px 0;
      @media screen and (max-width: 1440px) {
        padding: 40px 90px 0 0;
      }
      @media screen and (max-width: 1170px) {
        padding: 40px 30px 0 0;
      }
      @media screen and (max-width: 1080px) {
        padding: 30px 30px 0;
        font-size: 26px;
      }
      @media screen and (max-width: 750px) {
        font-size: 20px;
        padding: 20px 50px 0;
      }
    }
  }
}

.mission-animation {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  @media screen and (max-width: 1440px) {
    max-width: 500px;
  }
  @media screen and (max-width: 1170px) {
    //padding:0 60px;
    max-width: 365px;
  }
  @media screen and (max-width: 1080px) {
    max-width: 370px;
  }
  @media screen and (max-width: 750px) {
    max-width: 280px;
  }
  .m-animation {
    height: 680px;
    width: 680px;
    border-radius: 500px;
    @media screen and (max-width: 1440px) {
      height:480px;
      width: 480px;
    }
    @media screen and (max-width: 1170px) {
      height: 360px;
      width: 360px;
    }
    @media screen and (max-width: 750px) {
      height: 280px;
      width: 280px;
    }
  }
  &__path {
    border: 3px dashed #0F6FFF;
    overflow: hidden;
  }
  &__obj {
    position: absolute;
    top: 0; //border:1px dashed red;
    text-align: center; animation: 120s rolls infinite;
    img {
      margin-top: -32px;
      transform: rotate(18deg);
      background: white;
      padding: 0 10px;
    }
  }
  &__img {
    position: absolute;
    border-radius: 1000px;
    height: 612px;
    width: 612px;
    top: 34px;
    margin-left: 35px;
    text-align: center;
    overflow: hidden;
    z-index: 3;
    @media screen and (max-width: 1440px) {
      height:400px;
      width: 400px;
      top: 40px;
      margin-left: 45px;
    }
    @media screen and (max-width: 1170px) {
      height: 300px;
      width: 300px;
      margin-left: 33px;
      top: 30px;
    }
    @media screen and (max-width: 750px) {
      height: 240px;
      width: 240px;
      top: 23.5px;
      margin-left: 22.5px;
    }
    img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  @keyframes rolls {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Company Section
.company-section {
  &__wrapper {
    display: flex;
    position: relative;
    max-width: 1590px;
    margin: 0 auto;
    @media screen and (max-width: 1080px) {
      display: inherit;
    }
  }
  &__play-btn {
    position: absolute;
    top: 42%;
    right: 0;
    left: 0;
    text-align: center;
    @media screen and (max-width: 1080px) {
      top:60%;
    }
  }
  &__play-btn-wrapper {
    height: 106px;
    width: 106px;
    border-radius: 200px;
    border: 14px solid white;
    background: #0E6EFD;
    margin: 0 auto;
    img {
      margin-top: 35%;
      margin-left: 6px;
    }
  }
  &__about,
  &__video {
    width: 50%;
    @media screen and (max-width: 1080px) {
      width: 100%;
    }
  }
  &__about {
    position: relative;
    height: 100%;
    #drift-js {
      position: absolute;
      top: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
  &__video {
    z-index: -2;
    @media screen and (max-width: 1080px) {
      height: 450px;
      background-image: url(../media/images/company-video-bg.jpg);
      background-position: center;
      background-size: cover;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width: 1080px) {
        display: none;
      }
    }
  }
}

.company-wrapper {
  max-width: 570px;
  margin: 120px auto 0;
  @media screen and (max-width: 1440px) {
    margin-top:60px;
  }
  @media screen and (max-height: 900px) {
    margin: 70px auto 0;
  }
  @media screen and (max-width: 1366px) {
    padding: 0 70px;
  }
  @media screen and (max-width: 1230px) {
    margin: 80px auto 0;
  }
  @media screen and (max-width: 1090px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 1080px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 1080px) {
    padding-bottom: 50px;
  }
  @media screen and (max-width: 450px) {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
  }
  h3,
  h4 {
    font-size: 52px;
    @media screen and (max-width: 1230px) {
      font-size: 35px;
    }
    @media screen and (max-width: 750px) {
      font-size: 28px;
      ;
    }
  }
  h3 {
    font-weight: bold;
    @media screen and (max-width: 1080px) {
      text-align: center;
    }
  }
  h4 {
    font-weight: normal;
    margin: 5px 0 50px 0;
    @media screen and (max-width: 1230px) {
      margin: 5px 0 40px 0;
    }
    @media screen and (max-width: 1366px) {
      margin-bottom: 20px;
    }
  }
  p {
    font-size: 30px;
    color: #C4BBCA;
    padding-bottom: 80px;
    @media screen and (max-width: 1230px) {
      font-size: 25px;
      padding-bottom: 80px !important;
    }
    @media screen and (max-width: 1366px) {
      padding-bottom: 40px;
    }
    @media screen and (max-width: 1080px) {
      padding-bottom: 50px !important;
    }
    @media screen and (max-width: 750px) {
      font-size: 22px;
    }
  }
  &__link {
    position: relative;
    text-align: center;
    a {
      padding: 12px 85px;
      background: $primary-green;
      color: white;
      text-decoration: none;
      border-radius: 100px;
      font-size: 28px;
      box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
      @media screen and (max-width: 1080px) {
        font-size: 22px;
        padding: 10px 55px;
      }
      @media screen and (max-width: 550px) {
        padding: 10px 55px;
        font-size: 20px;
      }
    }
  }
}

// Bank Section
.bank-section {
  background: $primary-green;
  height: 1143.07px;
  width: 100%;
  background-image: url(../media/icons/shape-unaligned-2.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 673px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 1280px) {
    height: 900px;
  }
  @media screen and (max-width: 1080px) {
    height: auto;
    padding-bottom: 130px;
  }
  .bank-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: 1080px) {
      display: inherit;
    }
  }
  &__header {
    position: absolute;
    height: 70px;
    margin-top: -15px;
    background: $primary-green;
    transform: skew(0deg, 0.7deg);
    width: 100%;
    z-index: -1;
  }
  &__footer {
    height: 190px;
    margin-top: -70px;
    background: white;
    transform: skew(0deg, -3deg);
    width: 100%;
    z-index: 1;
    position: absolute;
  }
  &__img,
  &__info {
    width: 100%;
    height: 100%;
  }
  &__img {
    padding: 20px;
    @media screen and (max-width: 1080px) {
      padding: 0;
    }
  }
}

.bank-img-wrap {
  //position: absolute;
  //bottom: -20%;
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 120px;
  @media screen and (max-width: 1080px) {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    @media screen and (max-width: 425px) {
      display: inherit;
      width: 100%;
      text-align: center;
    }
  }
  img {
    width: 48%;
    border-radius: 70px;
    background-size: cover;
    @media screen and (max-width: 768px) {
      border-radius: 40px;
    }
    @media screen and (max-width: 425px) {
      border-radius: 50px;
      width: 75%;
    } animation: image-move 3s infinite;
    @keyframes image-move {
      0% {
        background-position: left;
      }
      25% {
        background-position: left;
      }
      70% {
        background-position: right;
      }
      95% {
        background-position: right;
      }
      100% {
        background-position: left;
      }
    }
  }
  &__img-1 {
    margin-left: -100%;
    height: 90%;
    bottom: 0;
    background-image: url(../media/images/g2-1.png);
    z-index: 1;
  }
  &__img-2 {
    margin-left: -100%;
    bottom: 0;
    height: 80%;
    background-image: url(../media/images/g2-2.png);
    @media screen and (max-width: 425px) {
      margin-left: 0 !important;
      margin-top: 50px;
    }
  }
}

#motion-js {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#scroll-to,
#scroll-two {
  transition: 1s ease-in;
}

.bank-info {
  max-width: 570px;
  margin: 250px auto 0;
  @media screen and (max-width: 625px) {
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 1280px) {
    max-width: 400px;
  }
  @media screen and (max-width: 1080px) {
    max-width: 600px;
    padding: 0 50px;
    margin-top: 60px;
    text-align: center;
  }
  p {
    font-size: 30px;
    color: white;
    margin: 30px 0 120px 0;
    @media screen and (max-width: 1080px) {
      text-align: left;
      margin-bottom: 75px;
    }
    @media screen and (max-width: 630px) {
      font-size: 26px;
    }
    @media screen and (max-width: 425px) {
      font-size: 22px;
      text-align: center;
    }
  }
  &__link {
    a {
      padding: 12px 85px;
      background: white;
      color: $primary-green;
      text-decoration: none;
      border-radius: 100px;
      font-size: 28px;
      box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
      @media screen and (max-width: 425px) {
        padding:12px 55px;
        font-size: 22px;
      }
    }
  }
}

// PlutoGo Section
.pluto-go {
  width: 100%;
  background: white;
  display: flex;
  position: relative;
  padding-top: 50px;
  z-index: 1;
  @media screen and (max-width: 1080px) {
    display: inherit;
  }
  @media screen and (min-width: 1080px) {
    height: 890px;
  }
  .pluto-go-wrapper {
    @media screen and (min-width: 1590px) {
      width: 1590px;
    }
    @media screen and (min-width: 1390px) {
      width: 1390px;
    }
    @media screen and (min-width: 1080px) {
      width: 1080px;
    }
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    @media screen and (max-width: 1170px) {
      //padding-left: 50px;
    }
    @media screen and (max-width: 1080px) {
      display: inherit;
      height: 1070px;
      max-width: 1080px;
    }
    @media screen and (max-width: 1024px) {
      height: 1700px;
    }
    @media screen and (max-width: 768px) {
      height: 2100px;
    }
  }
  &__info,
  &__img {
    width: 50%;
    @media screen and (max-width: 1080px) {
      width: 100%;
    }
  }
  &__img {
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1024px) {
      margin-top: 150px;
    }
    &--grid {
      transform: rotate(-24deg);
      position: absolute;
      right: -200px;
      height: 100%;
      bottom: 10px;
      @media screen and (max-width: 1080px) {
        right: -140px;
        top:-100px;
      }
      @media screen and (max-width: 1024px) {
        right: 0;
        top: 0;
        transform: rotate(0deg);
      }
    }
  }
}

.pluto-go-info {
  max-width: 570px;
  margin: 250px auto 0;
  @media screen and (max-width: 1080px) {
    margin-top:0;
  }
  @media screen and (max-width: 550px) {
    padding:0 50px;
    img{
      width: 100%;
    }
  }
  p {
    font-size: 30px;
    color: #C4BBCA;
    margin: 30px 0 120px 0;
    @media screen and (max-width: 550px) {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }
  &__link {
      @media screen and (max-width: 550px) {
        text-align: center;
    }
    a {
      padding: 12px 85px;
      background: $primary-green;
      color: white;
      text-decoration: none;
      border-radius: 100px;
      font-size: 28px;
      box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
      @media screen and (max-width: 550px) {
        padding: 12px 65px;
        font-size: 22px;
      }
    }
  }
}

.img-line-1 {
  display: flex;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    display: inherit;
  }
  &__first-img,
  &__last-img {
    width: 35%;
    position: relative;
    @media screen and (max-width: 1024px) {
      max-width: 375px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0 auto;
    }
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      @media screen and (max-width: 1024px) {
        position: relative;
      }
    }
  }
  &__mockup {
    overflow: hidden;
    margin: 0 20px;
    @media screen and (max-width: 1024px) {
      max-width:240px;
    }
    @media screen and (max-width: 768px) {
      margin: 50px auto;
    }
    img {
      width: 100%;
      background-image: url(../media/images/g3.png);
      background-repeat: no-repeat;
      background-position: left;
      overflow: hidden;
      transition: 1s ease-in; animation: image-swipe 3s infinite;
      @keyframes image-swipe {
        0% {
          background-position: left;
        }
        25% {
          background-position: left;
        }
        35% {
          background-position: center;
        }

        60% {
          background-position: center;
        }
        70% {
          background-position: right;
        }
        95% {
          background-position: right;
        }
        100% {
          background-position: left;
        }
      }
    }
  }
}

.img-line-2 {
  width: 100%;
  margin-top: 55px;
  img {
    width: 100%;
  }
}

#react-js {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

// Pluto Exchange Section
.pluto-exchange {
  background-image: url(../media/images/pe-bg.svg);
  padding: 150px 0 210px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  @media screen and (max-width: 1440px) {
    padding:70px 0 100px;
  }
  @media screen and (max-width: 625px) {
    padding: 40px 0 70px;
  }
  .exchange-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: 1090px) {
      display: inherit;
    }
  }
  &__header {
    height: 64px;
    transform: rotate(0.7deg);
    position: absolute;
    top: -36px;
    width: 100%;
    background-image: url(../media/images/pe-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__footer {
    height: 64px;
    transform: rotate(540.5deg);
    //width: 110%;
    //margin-left: -5%;
    margin-top: -30px;
    background-image: url(../media/images/pe-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 2120px) {
      margin-top:-60px;
    }
  }
  &__img,
  &__info {
    width: 50%;
    @media screen and (max-width: 1090px) {
      width: 100%;
    }
  }
  &__info {
    margin-top: 80px;
    @media screen and (max-width: 1440px) {
      margin-top:60px;
    }
    @media screen and (max-width: 1090px) {
      max-width: 740px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    img {
      padding: 0 120px;
      @media screen and (max-width: 1440px) {
        padding:0 60px;
      }
      @media screen and (max-width: 625px) {
        width: 80%;
        padding: 0;
      }
    }
    p {
      color: white;
      font-size: 30px;
      padding: 40px 120px 100px;
      @media screen and (max-width: 1440px) {
        padding:20px 60px 50px;
        font-size: 22px;
      }
      @media screen and (max-width: 1090px) {
        text-align: left;
      }
      @media screen and (max-width: 625px) {
        font-size: 18px;
        padding: 20px 30px 50px;
      }
    }
    &--link {
      padding: 0px 120px;
      @media screen and (max-width: 1440px) {
        padding: 0 60px;
      }
      @media screen and (max-width: 1090px) {
        text-align: left;
      }
      @media screen and (max-width: 720px) {
        text-align: center;
      }
      a {
        padding: 20px 105px;
        background: white;
        text-decoration: none;
        border-radius: 200px;
        font-size: 28px;
        color: #0F6FFF;
        box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
        @media screen and (max-width: 1440px) {
          font-size: 22px;
          padding: 15px 65px;
        }
        @media screen and (max-width: 625px) {
          font-size: 18px;
          padding: 12px 55px;
        }
      }
    }
  }
  &__img {
    position: relative;
    text-align: center;
    &--path {
      height: 572px;
      width: 572px;
      border-radius: 1000px;
      border: 4px dashed white;
      margin: 0 auto;
      @media screen and (max-width: 1440px) {
        height: 400px;
        width: 400px;
      }
      @media screen and (max-width: 625px) {
        height: 300px;
        width: 300px;
      }
      @media screen and (max-width: 380px) {
        height: 250px;
        width: 250px;
      }
    }
    &--obj {
      top: 0;
      position: absolute; animation: 60s rotation infinite;
      height: 572px;
      width: 572px;
      border-radius: 1000px;
      margin: 0 auto;
      right: 0;
      left: 0;
      @media screen and (max-width: 1440x) {
        height: 400px;
        width: 400px;
      }
      @media screen and (max-width: 625px) {
        height: 320px;
        width: 300px;
      }
      @media screen and (max-width: 380px) {
        height: 260px;
        width: 250px;
      }
      img {
        animation: 60s acw infinite;
        @media screen and (max-width: 625px) {
          height:50px;
        }
        @media screen and (max-width: 380px) {
          height: 35px;
        }
        @keyframes acw {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(-360deg);
          }
        }
      }
      img:nth-child(1) {
        position: absolute;
        top: -32px;
        left: 30%;
        @media screen and (max-width: 1440px) {
          right: 55px; //top:;
          left: 37%;
        }
        @media screen and (max-width: 1090px) {
          left: 40%;
        }
        @media screen and (max-width: 380px) {
          top: -15px;
        }
      }
      img:nth-child(2) {
        position: absolute;
        right: -10px;
        top: 105px;
        @media screen and (max-width: 1440px) {
          right: 55px;
          top: 65px;
        }
        @media screen and (max-width: 625px) {
          right: -15px;
        }
        @media screen and (max-width: 380px) {
          right: -10px;
        }
      }
      img:nth-child(3) {
        position: absolute;
        right: 18px;
        top: 75%;
        @media screen and (max-width: 1440px) {
          right: 55px;
          top: 56%;
          right: 125px;
        }
        @media screen and (max-width: 625px) {
          bottom: 10%;
          top: auto;
          right: 22px;
        }
      }
      img:nth-child(4) {
        position: absolute;
        bottom: -40px;
        right: 52%;
        @media screen and (max-width: 1440px) {
          right: 55px;
          top: 56%;
          left: 105px;
        }
        @media screen and (max-width: 625px) {
          bottom: 12%;
          top: auto;
          left: 13px;
        }
        @media screen and (max-width: 380px) {
          left: 9px;
        }
      }
      img:nth-child(5) {
        position: absolute;
        bottom: 40%;
        left: -40px;
        @media screen and (max-width: 1440px) {
          right: 55px;
          top: 20%;
          left: 55px;
        }
        @media screen and (max-width: 625px) {
          left: -12px;
        }
        @media screen and (max-width: 380px) {
          left: -6px;
        }
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    &--center {
      position: absolute;
      top: 27%;
      right: 0;
      left: 0;
      @media screen and (max-width: 1440px) {
        top:30%;
      }
      img {
        width: 58%;
        @media screen and (max-width: 1440px) {
          max-width: 300px;
        }
        @media screen and (max-width: 625px) {
          max-width: 240px;
        }
        @media screen and (max-width: 380px) {
          max-width: 190px;
        }
      }
    }
  }
}

// Pluto Fund
.pluto-fund {
  background-image: url(../media/images/pf-bg.svg);
  background-position: 1000px -820px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1015px;
  padding: 150px 0;
  position: relative;
  @media screen and (max-width: 1230px) {
    height: 100%;
    padding: 75px 0 110px;
  }
  @media screen and (max-width: 625px) {
    padding-bottom: 75px;
    z-index: 2;
  }
  &__footer {
    height: 240px;
    margin-top: -200px;
    background: white;
    transform: skew(0deg, -3deg);
    width: 100%;
    z-index: 1;
    position: absolute;
  }
  .pe-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding:0 100px;
    @media screen and (max-width: 1230px) {
      display: block;
    }
    @media screen and (max-width: 525px) {
      padding: 0;
    }
  }
  &__info,
  &__animation {
    width: 50%;
    @media screen and (max-width: 1230px) {
      width: 100%;
    }
  }
  &__info {
    //padding: 0 250px;
    position: relative;
    height: 100%;
    @media screen and (max-width: 1230px) {
      padding:0;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      img{
        width: 100%;
      }
    }
    p {
      color: #C4BBCA;
      font-size: 30px;
      margin: 50px 0 100px;
      @media screen and (max-width: 1230px) {
        margin: 20px 0 50px;
        font-size: 25px;
      }
      @media screen and (max-width: 625px) {
        font-size: 22px;
      }
    }
    &--link {
      @media screen and (max-width: 1230px) {
        margin-top:80px;
      }
      a {
        padding: 20px 105px;
        background: $primary-green;
        text-decoration: none;
        border-radius: 200px;
        font-size: 28px;
        color: white;
        box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
        @media screen and (max-width: 625px) {
          padding:15px 65px;
          font-size: 22px;
        }
      }
    }
    &--img {
      position: absolute;
      bottom: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (max-width: 1230px) {
        position: relative;
        margin-top: 100px;
      }
    }
  }
  &__animation {
    padding: 100px 0 100px 0;
    position: relative;
    @media screen and (max-width: 1280px) {
      padding:100px 0 100px 0;
    }
    @media screen and (max-width: 625px) {
      width: 100%;
    }
    &--wrap {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      @media screen and (max-width: 1230px) {
        position: relative;
      }
      img {
        background-image: url(../media/images/g32.png);
        background-repeat: no-repeat;
        overflow: hidden; animation: image-swipe 3s infinite;
        @media screen and (max-width: 425px) {
          width: 100%;
        }
      }
    }
  }
  &__slider {
    height: 126px;
    width: 126px;
    border-radius: 13px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    position: absolute;
    overflow: hidden; animation: icon-slider 3s infinite;
    right:19%;
    @media screen and (max-width: 1590px) {
      right:13%;
    }
    @media screen and (max-width: 1366px) {
      right: 7%;
    }
    @media screen and (max-width: 1230px) {
      right:25%;
    }
    @media screen and (max-width: 1080px) {
      right: 22%;
    }
    @media screen and (max-width: 990px) {
      right: 17%;
    }
    @media screen and (max-width: 800px) {
      right: 10%;
    }
    @media screen and (max-width: 700px) {
      right: 0;
    }
    @media screen and (max-width: 625px) {
      position: relative;
      margin: 20px auto;
    }
    &--first {
      top: 31%;
      background-image: url(../media/images/pf-slider-1.png);
    }
    &--second {
      bottom: 33%;
      background-image: url(../media/images/pf-slider-2.png);
    }
    @keyframes icon-slider {
      0% {
        background-position: top;
      }
      25% {
        background-position: top;
      }
      35% {
        background-position: center;
      }

      60% {
        background-position: center;
      }
      70% {
        background-position: bottom;
      }
      95% {
        background-position: bottom;
      }
      100% {
        background-position: top;
      }
    }
  }
}



// Story Section
.story {
  background: #FCFCFC;
  padding: 120px 0 200px;
  position: relative;
  @media screen and (max-width: 1080px) {
    padding: 70px 0 100px
  }
  &__path {
    position: relative;
    &--title {
      position: absolute;
      top: 0px;
      right: 0;
      left: 0;
      text-align: center;
      a {
        padding: 20px 45px;
        background: #0DD624;
        border-radius: 100px;
        color: white;
        text-decoration: none;
        font-size: 28px;
        box-shadow: 0 18px 41px rgba(109, 109, 109, 0.17);
        @media screen and (max-width: 1080px) {}
      }
    }
  }
  .story-wrapper {
    max-width: 1590px;
    margin: 0 auto;
    position: relative;
  }
  h1 {
    text-align: center;
    padding-bottom: 100px;
    font-size: 52px;
    font-weight: normal;
    @media screen and (max-width: 1080px) {
      font-size: 40px;
      padding-bottom: 40px;
    }
    span {
      font-weight: bold;
    }
  }
  .story-roadmap {
    display: flex;
    padding: 0 0 100px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    @media screen and (max-width: 1080px) {
      position: relative;
    }
  }
  &__roadmap {
    height: 120px;
    width: 120px;
    background: #ffffff;
    border-radius: 200px;
    border: 12px solid #EAE7E7;
    position: relative;
    color: #858282;
    position: absolute;
    @media screen and (max-width: 1080px) {
      top:0 !important;
      position: relative;
      margin: 130px auto 0 !important;
    }
    h2 {
      font-size: 30px;
      font-weight: normal;
      position: absolute;
      top: 34%;
      width: 100%;
      text-align: center;
    }
  }
  .story-1 {
    left: 0px;
    top: 120px; animation: 10s cc1 infinite;
    @media screen and (max-width: 1080px) {
      left:0;
    }
  }
  .story-2 {
    left: 24.8%;
    top: -50px; animation: 10s cc2 infinite;
    @media screen and (max-width: 1440px) {
      left: 22.2%;
    }
    @media screen and (max-width: 1280px) {
      left: 18.8%;
    }
    @media screen and (max-width: 1080px) {
      left: 0;
    }
  }
  .story-3 {
    left: 46%;
    top: 260px; animation: 10s cc3 infinite;
    @media screen and (max-width: 1440px) {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    @media screen and (max-width: 1080px) {
      left: 0;
      margin: 0;
    }
  }
  .story-4 {
    right: 21.8%;
    top: -50px; animation: 10s cc4 infinite;
    @media screen and (max-width: 1440px) {
      right: 19%;
    }
    @media screen and (max-width: 1280px) {
      right: 15%;
    }
    @media screen and (max-width: 1080px) {
      left: 0;
    }
  }
  .story-5 {
    right: 0px;
    top: 120px; animation: 10s cc5 infinite;
    @media screen and (max-width: 1080px) {
      left: 0;
    }
  }
  @keyframes cc1 {
    0% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    20% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    21% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    100% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
  }
  @keyframes cc2 {
    0% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
    20% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    21% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    40% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    41% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    100% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
  }
  @keyframes cc3 {
    0% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
    40% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    41% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    60% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    61% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    100% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
  }
  @keyframes cc4 {
    0% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
    60% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    61% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    80% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    81% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    100% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
  }
  @keyframes cc5 {
    0% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
    }
    80% {
      border-color: #EAE7E7;
      color: #858282;
      background: white;
      box-shadow: none;
    }
    81% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
    100% {
      border-color: #FFBE09;
      color: white;
      background: rgb(255, 216, 107);
      box-shadow: 0 0 40px #ffbb73;
    }
  }
  &__path {
    max-width: 1563px;
    height: 338px;
    .story-path {
      height: 338px;
      background-image: url(../media/images/wire-sprite.png);
      width: 100%; animation: sprite-wire 10s infinite;
      @media screen and (max-width: 1080px) {
        background: none;
      }
      @keyframes sprite-wire {
        0% {
          background-position: center -59px;
        }
        19.60% {
          background-position: center -59px;
        }
        20% {
          background-position: center -417px;
        }
        39.60% {
          background-position: center -417px;
        }
        40% {
          background-position: center -778px;
        }
        59.60% {
          background-position: center -778px;
        }
        60% {
          background-position: center -1163px;
        }
        79.60% {
          background-position: center -1163px;
        }
        80% {
          background-position: center -1550px;
        }
        100% {
          background-position: center -1550px;
        }
      }
    }
  }
}

// Footer
.hero-footer {
  background: #2E303C;
  padding: 100px 0;
  @media screen and (max-width: 1590px) {
    padding:50px 0;
  }
  @media screen and (max-width: 1080px) {
    padding: 20px 0;
  }
  .footer-wrapper {
    max-width: 1590px;
    display: flex;
    margin: 0 auto;
    @media screen and (max-width: 1170px) {
      display: inherit;
    }
  }
  &__info {
    display: flex;
    width: 70%;
    @media screen and (max-width: 1170px) {
      width: 100%;
    }
    @media screen and (max-width: 1080px) {
      display: inherit;
    }
    &--name {
      padding: 100px 50px 0;
      border-right: 0.5px solid white;
      color: white;
      width: 35%;
      @media screen and (max-width: 1440px) {
        padding: 75px 50px 0;
      }
      @media screen and (max-width: 1366px) {
        padding: 100px 50px 0;
      }
      @media screen and (max-width: 1170px) {
        padding: 75px 50px 0;
      }
      @media screen and (max-width: 1080px) {
        border-right: 0;
        border-bottom: 0.5px solid white;
        width: 100%;
        padding:30px 0 50px;
        text-align: center;
      }
      h6 {
        margin-top: 20px;
        font-size: 31px;
        font-weight: normal;
        @media screen and (max-width: 1440px) {
          display: table-caption;
          font-size: 35px;
          letter-spacing: 2px;
        }
        @media screen and (max-width: 1170px) {
          display: block;
        }
      }
    }
    &--brief {
      width: 65%;
      padding: 50px 50px 50px 70px;
      color: #B2BAC5;
      @media screen and (max-width: 1080px) {
        width: 100%;
        padding:50px 0 70px;
        > *{
          padding:0 60px;
        }
      }
      @media screen and (max-width: 375px) {
        > * {
          padding:0 25px;
        }
      }
      p:nth-child(1) {
        font-size: 21px;
      }
      p:nth-child(3) {
        font-size: 18px;
      }
      h1 {
        color: white;
        font-size: 21px;
        font-weight: normal;
        padding: 15px 0;
        @media screen and (max-width: 1080px) {
          padding: 15px 65px;
        }
        @media screen and (max-width: 375px) {
          padding:  15px 25px;
        }
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__address {
    color: white;
    font-size: 22px;
    padding: 120px 50px 0;
    @media screen and (max-width: 1170px) {
      width: 100%;
      text-align: center;
      padding:60px 0 0;
    }
    @media screen and (max-width: 1080px) {
      padding:0 0 50px;
    }
    @media screen and (max-width: 375px) {
      padding-bottom: 30px;
      font-weight: lighter;
    }
  }
}